<div class="page-wrapper">
  <header>
    <div class="logo-bobinesetfeeling">
      <a href="index.html">
        <img src="./img/logo-bobinesetfeeling.png" alt="logo Bobines & Feeling">
      </a>
    </div>
  </header>

  <div class="content-container">
    <main>
      <router-outlet></router-outlet>

    </main>

    <aside class="sidebar">
      <div class="auth-buttons">
        <button id="auth-btns">S'inscrire</button>
        <button id="auth-btns">Se connecter</button>
      </div>
      <nav>
        <ul>
          <menu-item [label]="'Accueil'" [link]="'/'"></menu-item>
          <menu-item [label]="'Mes patrons'" [link]="'/pattern-list'"></menu-item>
          <menu-item [label]="'Nouveau patron'"></menu-item>
          <menu-item [label]="'A propos'"></menu-item>
        </ul>
      </nav>
    </aside>
  </div>


  <footer>
    <p>© Sewtopia Corp 2025</p>
  </footer>
</div>